body
{
	margin: 0px;
	background: #f7f7f7;
}
.top_nav
{
	width: 100%;
	height: 50px;
	max-width: 1800px;
	margin: auto;
	text-align: center;
	background: white;
	box-shadow: 0px 1px 5px #cccccc;
}
.icons
{
	width: 40px;
	height: 100%;
	float: right;
	position: relative;
}
.banner_main
{
	width: 100%;
	height:400px;
	max-width: 1800px;
	margin: auto;
	position: relative;
}
.change_profile_pic_button
{
	padding: 7px;
	background-color: #cc3333;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	font-family: arial;
	font-size: 15px;
}

.banner_change
{
	display: none;
}
.banner:hover > .banner_change
{
	width: 100%;
	height: 50px;
	display: block;
	position: absolute;
	bottom: 0px;
}
.profile_pic
{
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: white;
	border: 3px solid white;
	border-radius: 50%;
	top: 190px;
	left: 130px;
	right: 0px;
	overflow: hidden;
}
.profile_pic:hover > .change_photo
{
	position: absolute;
	bottom:0px;
	width: 100%;
	height: 35%;
	cursor: pointer;
	transition: 0.5s;
	background-color: rgb(0,0,0,0.5);
}
.profile_pic:hover > .change_photo:hover
{
	background-color: black;
}
.banner_bottom_profile
{
	width: 100%;
	max-width: 1800px;
	height: 100px;
	background: white;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 1px 10px 0px #cfcfcf;
}
.name_diplay
{
	width: auto;
	height: auto;
	margin-left: 350px;
	float: left;
	display: inline-block;
}
.profile_edit
{
	width: 95%;
	height: auto;
	max-width: 1800px;
	background-color: white; 
	margin: auto;
	margin-top: 40px;
	box-shadow: 0px 0px 10px 0px #cfcfcf;;
	border-radius: 20px;
}
.remove
{
	font-family: arial; float: right;
	margin: 0px;
	position: absolute;
	bottom: 5px; 
	right: 5px;
	padding: 5px; 
	font-size: 13px;
	transition: 0.7s;
	cursor: pointer;
	border-radius: 5px;
}
.remove:hover
{
	transition: 0.7s;
	color: white;
	background-color: #ff5c5c;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
#popup_profile_image
{
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	background-color: rgb(0,0,0,0.4);
	position: fixed;
}
.profile_pic_size
{
	width: 550px;
	height:  400px;
	position: fixed;
	left: 0px;
	border-radius: 20px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	background-color: white;
}
.change_profile_pic
{
	width: 190px;
	height: 190px;
	background-color: rgba(0,0,0,0.1);
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	border-radius: 190px;
	position: absolute;
	top: 5px;
	text-align: center;
	right: 0px;
	left: 0px;
	bottom: 5px;
	transition: 0.2s;
	margin: auto;
}
.change_profile_pic:hover
{
	transition: 0.2s;
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
input:focus,button:focus
{
	outline: none;
}
.change
{
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px; 
	font-family: arial;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	background-color: rgba(204,51,51,1);
	color: white;
}
.change:hover
{
	background-color: rgba(204,51,51,0.9);
}
.edit
{
	font-family: arial;
	position: absolute;
	right: 70px;
	cursor: pointer;
	bottom: 3px;
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
}
#education_add_popup
{
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	background-color: rgb(0,0,0,0.4);
	position: fixed;
}
#experience_add_popup
{
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	background-color: rgb(0,0,0,0.4);
	position: fixed;
}
#skills_add_popup
{
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
	background-color: rgb(0,0,0,0.4);
	position: fixed;
}
#profile_add_popup
{
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	background-color: rgb(0,0,0,0.4);
	position: fixed;
}

#changes_status_show_bar
{
	width: 230px;
	height: 40px;
	margin: auto;
	position: fixed;
	right: 30px;
	bottom: 30px;
	opacity: 0;
	display: none;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px #dcdcdc;
	z-index: 2;
	animation: 3s linear changes_status_bar_disabled;
}
@keyframes changes_status_bar_disabled
{
	0%
	{
		opacity: 1;
	}
	70%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}
#ok_status
{
	width: 25px;
	height: 25px;
	margin-top: 7px;
	border-radius: 25px;
	margin-left: 15px;
	float:left;
	display: none;
	position: relative;
	background-color:#8ce665;
}
.ok_tick1
{
	width: 2.5px;
	height: 18px; 
	background-color: white;
	-ms-transform: rotate(35deg); /* IE 9 */
    -webkit-transform: rotate(35deg); /* Safari */
    transform: rotate(35deg);
	position: absolute;
	top: 4px;
	left: 13px;
}
.ok_tick2
{
	width: 2.5px;
	height: 7px; 
	background-color: white;
	-ms-transform: rotate(133deg); /* IE 9 */
    -webkit-transform: rotate(133deg); /* Safari */
    transform: rotate(133deg);
	position: absolute;
	top: 13px;
	left: 5px;
}
.no_status
{
	width: 25px;
	height: 25px;
	margin-top: 7px;
	border-radius: 25px;
	margin-left: 15px;
	float:left;
	display: none;
	position: relative;
	background-color:#ff4444;
}
.no_tick1
{
	width: 2.5px;
	height: 18px; 
	background-color: white;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
	position: absolute;
	top: 4px;
	left: 11px;
}
.no_tick2
{
	width: 2.5px;
	height: 18px; 
	background-color: white;
	-ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari */
    transform: rotate(135deg);
	position: absolute;
	top: 4px;
	left: 11px;
}
.education_add
{
	width: 600px;
	height: 350px;
	border-radius: 20px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	background-color: white;
}
.add_skill_button
{
font-family: arial;
font-size: 16px; 
position: absolute;
bottom:20px;
right: 30px;
padding: 4px;
border: none;
background-color: #f57f5b;
color: white;
cursor: pointer;
padding-left: 10px;
padding-right: 10px;
}
.add_skill_button:hover
{
	background-color:#ea643b;
}
.skills_add
{
	width: 600px;
	height: 350px;
	border-radius: 20px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	background-color: white;
}
.experience_add
{
	width: 600px;
	height: 350px;
	border-radius: 20px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	background-color: white;
}
.profile_add
{
	width: 600px;
	height: 430px;
	border-radius: 20px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	background-color: white;
}
.input_tags
{
	width: 40%;
	height: auto;
	margin-top: 10px;
	font-family: arial;
	font-size: 15px;
	margin: 20px;
	padding: 5px;
	border: none;
	border-bottom: 1.5px solid #25293b;
	display: inline-block;
}
.change_button
{
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px; 
	font-family: arial;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	background-color: #25293b;
	color: white;
}
.edit_button
{
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px; 
	font-family: arial;
	font-size: 15px;
	border-radius: 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: none;
	display: none;
	cursor: pointer;
	background-color: #25293b;
	color: white;
}