body
{
margin: 0px;
}
.icon_dis
{
	width: 100%;
	height: 70px;
	max-width: 1800px;
	margin: auto;
}
.main_icon
{
	width: 400px;
	height: 100%;
}
.main_icon img
{
	height: 80%;
	width: auto;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
}
.main_icon p
{
	font-size: 20px;
	padding-top: 35px;
	font-family: 'Lato', sans-serif;
}
.dropdownmenu
{
	width: 100%;
	height: 40px;
	z-index: 15;
	background-color: #A81E24;
}
@charset "UTF-8";
.navigation {
  height: 70px;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  background: #A81E24;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #bd3339;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.slider
{
	width: 100%;
z-index: 1;
	height: auto;
}
.working_at
{
	width: 100%;
	text-align: center;
	height: 130px;
}
.working_at p
{
	padding: 20px 0px 0px 20px;
	font-size: 17px;
	font-family: 'Noto Sans', sans-serif;
	color: #595959;
}
.companys_list
{
	width: 70%;
	height: 120px;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

.owl-carousel,.owl-carousel .owl-item{
	-webkit-tap-highlight-color:transparent;
	position:relative
	}
	.owl-carousel
	{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
	
	.signin_box
	{
		width: 30%;
		height: 100%;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
	.main_signin_box
	{
		width: 380px;
		height: 280px;
		position: absolute;
		top: -190px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: auto;
		overflow: hidden;
		box-shadow: 0px 0px 2px 0px #545454;
		border-radius: 10px;
		background-color: white;
	}
	.signin_box .signin_box_style
	{
		width: 60%;
		margin: auto;
		margin-top: 20px;
		height: 50px;
		box-shadow: 0px 0px 1px 0px #c6c6c6;
		background-color: white;
	}
	.signin_box .signin_box_style:hover
	{
		box-shadow: 0px 0px 10px 0px #c6c6c6;
		transition: 0.5s;
		cursor: pointer;
	}
	.updates_news
	{
		width: 80%;
		max-width: 1800px;
		height: 10px;
		background-color: transparent;
		box-shadow: -2px 5px 2px -2px #cfcfcf;
		margin: auto;
		margin-top: 50px;
	}
	.updates_news1
	{
		width: 100%;
		height: auto;
		margin-bottom: 40px;
		text-align: center;
		margin-top: 30px;
	}
	.sucess_storys_box
	{
		width: 100%;
		height: 350px;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 30px;
		margin-top: 20px;
		box-shadow: 0px 0px 5px 0px #e6e6e6;
		display: inline-block;
		position: relative;
	}
	.sub_sucess_storys_box
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
	}
	.sub_sucess_storys_box p
	{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
		font-size: 17px;
		margin: 6px 0px 0px 13px; 
		float: left;
		color: white;
		padding-top: 4px;
		padding-right: 10px;
		padding-bottom: 5px;
		border-bottom: 2px solid white;
	}
	
	.sucess_stories
	{
		width: 100%;
		height: 90px;
		margin-top: 3px;
		background-color: white;
		cursor: pointer;
	}
	.sucess_stories:hover
	{
		box-shadow: 0px 0px 10px 0px #e8e8e8;
		background-color: white;
	}
	.updates
	{
		width: 100%;
		height: 350px;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		box-shadow: 0px 0px 10px 0px #e6e6e6;
		margin-top: 20px;
		margin-bottom: 30px;
		background-color: white;
		display: inline-block;
	}
	.update_box
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		background-color: white;
	}
	.update_box p
	{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
		font-size: 17px;
		margin: 6px 0px 0px 13px; 
		float: left;
		color: white;
		padding-top: 4px;
		padding-right: 10px;
		padding-bottom: 5px;
		border-bottom: 2px solid white;
	}
	.update_box_ul
	{
		width: 100%;
		height: 300px;
		margin-top: 18px;
		padding-right: 20px;
		text-decoration: none;
	}
	.update_box_ul ul a
	{
		color: #474747;
		text-decoration: none;
	}
	.update_box ul li
	{
		text-align: left;
		padding-top: 5px;
		text-decoration: none;
		padding-bottom: 5px;
		
	}
	.map_view
	{
		width: 100%;
		max-width: 1800px;
	}
	.social_media
	{
		width: 100%;
		height: auto;
		max-width: 1800px;
		margin: auto;
		margin-bottom: 50px;
		text-align: center;
	}
	.social_media_box
	{
		width: 100%;
		height: 350px;
		position: relative;
		display: inline-block;
		border-radius: 10px;
		box-shadow: 0px 2px 15px 0px #e6e6e6;
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.social_media_box_a
	{
		width: 100%;
		height: 100%;
		background-color: white;
		position: absolute;
		top: 0px;
	}
	.social_media_box_a p
	{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
		font-size: 17px;
		margin: 6px 0px 0px 13px; 
		float: left;
		color: white;
		padding-top: 4px;
		padding-right: 10px;
		padding-bottom: 5px;
		border-bottom: 2px solid white;
	}
	.popular_profile_box
	{
		width: 100%;
		height: 300px;
	}
	.popular_profile_box_profile
	{
	    width: 100%;
		height: 71px;
		background-color: white;
		margin: 2px 0px 2px 0px;
		cursor: pointer;
	}
	.popular_profile_box_profile:hover
	{
		box-shadow: 0px 0px 10px 0px #e6e6e6;
	}
	.carrers_box_profile
	{
		width: 100%;
		height: 71px;
		background-color: white;
		border-bottom: 1px solid #cbcbcb;
	}