body
{
	margin: 0px;
	background-image: url('../imags/register_back.png');
	background-size: auto 100%;
}
.signup_box
{
	width: 500px;
	height: auto;
	padding-bottom: 70px;
	float: left;
	background-color: white;
}
.left_box
{
	width: auto;
	height: 100%;
	float: right;
}
.inputfiled_f
{
	font-size: 16px;
	width: 180px;
	float: left;
	padding: 8px 0px 8px 8px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1.5px solid #e4e4e4;
	border-radius: 5px;
}
.inputfiled
{
	font-size: 16px;
	width: 390px;
	float: left;
	margin-left: 20px;
	padding: 8px 0px 8px 8px;
	margin-top: 20px;
	border: 1.5px solid #e4e4e4;
	border-radius: 5px;
}
*:input
{
	outline: none;
}
.register_button
{
	font-family: 'Roboto', sans-serif; 
	font-size: 15px;
	width: 180px;
	border: 1px solid #00c4cc;
	margin-left: 20px;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 5px;
	padding: 7px 15px 7px 15px;
	background-color: #00c4cc;
	color: white;
}
.register_button:hover
{
	background-color: #0d9a9f;
	border: 1px solid #0d9a9f;
}
#icons
{
	display: inline-block;
	float: right;
}
