body
{
	margin: 0px;
}
.nav_main
{
	width: 100%;
	height: 8%;
	background: #262626;
	position: relative;
}
.icons_main
{
	width: 15%;
	height: 92%;
	float: left;
	background: #3d3d3d;
}
.content
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#galleryimage
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#alumniprofile_verification
{
	width: 85%;
	height: 92%;
	float: left;
	position: relative;
	display: none;
}
#alumnistaffrecord
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#newsletters
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#alumniprofiles
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#offers
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#studentprojects
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#events
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#news
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#donation
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
#feedback
{
	width: 85%;
	height: 92%;
	float: left;
	display: none;
}
.logout
{
	width: 50px;
	height: 50px;
	float: right;
	position: absolute;
	right: 0px;
	top: 5px;
}
.icon_items
{
	width: 100%;
	height: 35px;
	cursor: pointer;
}
.icons
{
	width: 35px;
	height: 35px;
	float: left;
	position: relative;
}
.notify
{
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0px;
	border-radius: 10px;
	bottom: 5px;
	background: #fe6e60;
}
#alumni_profile_verification
{
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}
.alumni_verification_box
{
	width: 90%;
	height: 150px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
	box-shadow: 0px 0px 2px 0px #7b7b7b;
	border-radius: 10px;
	cursor: pointer;
	background-color: white;
}
.alumni_verification_box_image
{
	width: 120px;
	height: 120px;
	float: left;
	border-radius: 120px;
	margin-top: 15px;
	margin-left: 15px;
	overflow: hidden;
}
.alumni_verification_box_1
{
	width: 400px;
	height: 100%;
	margin-left: 10px;
	float: left;
}